/*======GOOGLE FONT======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*======REST======*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

:root {
	--clr-bg: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-coral: hsl(16, 100%, 66%);
	--clr-wrapper: hsl(0, 33%, 4%);
	--f-family: 'Poppins', sans-serif;
}
body {
	margin: 0;
	font-family: var(--f-family);
	line-height: 1.5;
	transition: all 0.3s linear;
	background-color: var(--clr-bg);
}
/*======DEFAULT=======*/
a {
	text-decoration: none;
}
li {
	list-style: none;
}
h1 {
	font-size: 2.1rem;
}
h2 {
	font-size: 1.5rem;
}
img {
	width: 100%;
	height: 100%;
	display: block;
	height: 100%;
	object-fit: cover;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 1.5rem;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.gallery {
	background-color: #eee;
	padding: 100px 7px;
}
.title {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}
.title h1 {
	display: inline-block;
	font-size: 2.25rem;
	text-transform: uppercase;
	font-weight: 800;
	color: var(--clr-coral);
	margin: 0 0 5px;
	position: relative;
}

.title h1::before {
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 32%;
	background-color: rgb(188, 7, 216);
	bottom: 0px;
}

.title-center {
	text-align: center;
}
.gallery .title-center h1:before {
	left: 30%;
}
.gallery .buttons {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.gallery .buttons ul {
	text-align: center;
	padding: 0;
}
.gallery .buttons ul li {
	display: inline-block;
	text-transform: uppercase;
	color: var(--clr-black);
	font-weight: 600;
	padding-bottom: 0px;
	cursor: pointer;
}
.gallery .buttons ul li.active {
	color: var(--clr-coral);
	border-bottom: 2px solid var(--clr-coral);
}

.card {
	border: 0.1rem solid rgb(241, 187, 187);
	border-radius: 0.5rem;
	height: 30rem;
	width: 25rem;
}

.card h2 {
	text-align: center;
	margin-top: 2rem;
}

.gallery .card .inner {
	position: relative;
}

/*============MEDIA QUERY===============*/
@media (max-width: 768px) {
	.gallery .card {
		width: 100%;
	}
}

@media (max-width: 468px) {
	.gallery .card {
		width: 50%;
	}
}
