/*======GOOGLE FONT======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*======REST======*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}
body {
	background: blanchedalmond;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: all 0.3s linear;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
	height: 100%;
}
/*======VARIABLES=======*/
/* filter */
.header {
	width: 100vw;
	margin: 0 auto;
}
.portfolio-header {
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
.portfolio-header::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10rem;
	height: 0.2rem;
	border-radius: 2rem;
	background: #2d6ae3;
}
/*====CONTAINER=====*/
.container {
	width: 100%;
	max-width: 1200px;
	padding: 1rem;
	margin: 0 auto;
}

.row {
	margin: 10px -16px;
}
/* Add padding BETWEEN each column */
.row,
.row > .column {
	padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
	content: '';
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: white;
	padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}

/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
}

.btn:hover {
	background-color: #e3872d;
	color: #fff !important;
	font-weight: bold;
}

.btn.active {
	background-color: #e3872d;
	color: white;
	font-weight: bold;
	border-style: none;
}
