/*======GOOGLE FONT======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*======REST======*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

:root {
	--clr-bg: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-coral: hsl(16, 100%, 66%);
	--clr-wrapper: hsl(0, 33%, 4%);
}
body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: var(--clr-bg);
}
.wrapper {
	max-width: 840px;
	margin: 0 auto;
}
.item img {
	width: 100%;
	height: 100%;
}
.item {
	display: flex;
	flex-wrap: wrap;
}
.gallery {
	background-color: var(--clr-bg);
	padding: 100px 7px;
}
.title {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}
.title h1 {
	display: inline-block;
	font-size: 2.25rem;
	text-transform: uppercase;
	font-weight: 800;
	color: var(--clr-coral);
	margin: 0 0 5px;
	position: relative;
}

.title h1::before {
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 32%;
	background-color: #fff;
	bottom: 0px;
}

.title-center {
	text-align: center;
}
.gallery .title-center h1:before {
	left: 30%;
}
.gallery .buttons {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.gallery .buttons ul {
	list-style: none;
	text-align: center;
	padding: 0;
}
.gallery .buttons ul li {
	display: inline-block;
	text-transform: uppercase;
	color: var(--clr-black);
	font-weight: 600;
	padding-bottom: 0px;
	cursor: pointer;
}
.gallery .buttons ul li.active {
	color: var(--clr-coral);
	border-bottom: 2px solid var(--clr-coral);
}
.gallery .work-gallery {
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.gallery .work-gallery .cell {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	position: relative;
	padding: 10px;
}
.gallery .work-gallery .cell .inner {
	position: relative;
}
.gallery .work-gallery .cell img {
	width: 100%;
	display: block;
}
/*============MEDIA QUERY===============*/
@media screen and (max-width: 768px) {
	.gallery .work-gallery .cell {
		flex: 0 0 50%;
		max-width: 50%;
		position: relative;
		padding: 10px;
	}
}

@media screen and (max-width: 468px) {
	.gallery .work-gallery .cell {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
